html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body fills the viewport */
    overflow: hidden; /* Disable scrolling */
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('imgs/room.avif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.text1 {
    position: absolute;
    top: 53%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    visibility: hidden;
}


.bed {
    width: 900px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 61%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.parent1:hover .text1 {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 10;
}

.bed:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.text2 {
    position: absolute;
    top: 42%;
    left: 84%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    visibility: hidden;
}

.door {
    width: auto;
    height: 1250px;
    position: absolute;
    top: 17%;
    left: 97.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.parent2:hover .text2 {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 10;
}

.door:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.text3 {
    position: absolute;
    top: 24%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    visibility: hidden;
}

.window {
    width: auto;
    height: 525px;
    position: absolute;
    top: 5.5%;
    left: 24.2%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.parent3:hover .text3 {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 10;
}

.window:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.text4 {
    position: absolute;
    top: 22%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    visibility: hidden;
}

.alcohol {
    width: auto;
    height: 120px;
    position: absolute;
    top: 19%;
    left: 5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.parent4:hover .text4 {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 10;
}

.alcohol:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.text5 {
    position: absolute;
    top: 44%;
    left: 26.5%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    visibility: hidden;
}

.clutter {
    width: auto;
    height: 260px;
    position: absolute;
    top: 84.45%;
    left: 33.4%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.parent5:hover .text5 {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 10;
}

.clutter:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.text6 {
    position: absolute;
    top: 38%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    visibility: hidden;
}

.mirror {
    width: auto;
    height: 150px;
    position: absolute;
    top: 39%;
    left: 88%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.parent6:hover .text6 {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 10;
}

.mirror:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 1366px) {
    .text1 {
        width: 270px;
        left: 20.7%;
        top: 50%;
    }
    .bed { 
        width: 47vw; 
        top: 56%;
    }
    .text2 {
        width: 270px;
        left: 80%;
        top: 50%;
    }
    .door { 
        height: 136vh; 
        top: 13.3%;
        left: 97.6%
    }
    .window { 
        height: 63vh;
        left: 24.3%;
        top: -0.5%;
    }
    .alcohol { 
        height: 15vh;
        left: 5%;
        top: 14.5%;
    }
    .clutter { 
        height: 31vh;
        left: 33.2%;
        top: 89.3%;
    }
    .mirror { 
        height: 18vh;
        top: 37.5%;
    }
}
